<h2>Show Profile</h2>
<p>
	user Id <%= @user_profile.first_name %>
<br>
	username <%= @the_user.username %>
</p>
<div class="user-profile">
	<div class="row">
		<div class="col-sm-3">
			<div class="profile-img">
				<i class="fa fa-user"></i>
				<p class="edit-profile">
				<%= link_to "Edit profile", edit_profile_path(@profile), class: "btn btn-sm btn-info" %>
				</p>
			</div>
			<p class="text-center">
				<i class="fa fa-clock-o"></i> <em>Last login: <%= time_ago_in_words(current_user.current_sign_in_at) %> ago</em>
			</p>
			<% if current_user.role_id.present? %>
				<p class="text-center">
					<%= current_user.role.name.capitalize %>
				</p>
				<% if current_user.role_id == 4 %>
				<p class="text-center">
					<%= link_to "Show user lists", users_path, class: "btn btn-sm btn-success" %>
				</p>
				<% end %>
			<% end %>
		</div>
		
		<div class="col-sm-9">
			<h4>
				<% if @user_profile.first_name.present? || @user_profile.last_name.present? %>
					<%= @user_profile.first_name.capitalize + " " + @user_profile.last_name.capitalize %>
				<% else %>
					<%= @the_user.username.upcase %>
				<% end %>
				<span class="label label-success label-sm"><%= @user_profile.user.posts.count %> <%= (@user_profile.user.posts.count > 1) ? "posts" : "post" %></span>
			</h4>
			<hr>
			<div class="profile-info">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Contact Info
					</div>
					<div class="panel-body">
						<ul>
							<li><i class="fa fa-home"></i> <%= @user_profile.address.present? ? @user_profile.address : "N/A" %></li>
							<li><i class="fa fa-phone"></i> <%= @user_profile.phone.present? ? @user_profile.phone : "N/A" %></li>
							<li><i class="fa fa-envelope"></i> <%= @user_profile.email.present? ? @user_profile.email : "N/A" %></li>
							
						</ul>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

