<div class="container-post">
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
        <%= f.label :post_type, "Type" %>
         <%= f.select :post_type, options_for_select([['Sale', 'sale'], ['Rent', 'rent']], @post.post_type), {}, class: "form-control" %>
        </div>
        
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :property_type_id, "Property Type" %>
          <%=f. select :property_type_id, options_from_collection_for_select(PropertyType.all, :id, :property_name, @post.property_type_id), {}, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <h4 class="text-center">Location</h4>
      <hr>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :location_id, "Province/City" %>
          <%=f. select :location_id, options_from_collection_for_select(Location.all, :id, :name, @post.location_id), {}, class: "form-control" %>
        </div>
      </div>
      
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :area, "Area" %>
           <%= f.text_field :area, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-12 form-group">
        <%= f.label :address, "Address" %><br>
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>

    <div class="row form-group">
      <h4 class="text-center">Amentities</h4>
      <hr>
        <%= f.collection_check_boxes :amentity_ids, Amentity.all, :id, :name, checked: @int_amentities do |cb| %>
          <div class="col-md-4 col-xs-6 checkbox-list">
            <div class="checkbox checkbox-primary">
              <%= cb.check_box %>
              <%= cb.label %>
            </div>
          </div>
        <% end %>
    </div>
    <div class="row">
      <h4 class="text-center">Details</h4>
      <hr>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :post_type, "Bedrooms" %>
           <%= f.select :bedroom, options_for_select((1..10), @post.bedroom), {include_blank: true}, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :post_type, "Bathrooms" %>
           <%= f.select :bathroom, options_for_select((1..10), @post.bathroom), {include_blank: true}, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :floor, "Floors" %>
           <%= f.select :floor, options_for_select((1..10), @post.floor), {include_blank: true}, class: "form-control" %>
        </div>
      </div>
       <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :size, "Area size" %>
           <%= f.text_field :size, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :price %>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">$</span>
            <%= f.text_field :price, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :image, "Featured image" %>
      <div class="form-control">
        
        <%= f.file_field :image %>
      </div>
    </div> 
      <%= f.fields_for :photos do |photo| %>
        <%= render 'photo_fields', f: photo %>
      <% end %>
      <div class="links form-group">
        <%= link_to_add_association ' add images', f, :photos, class: "fa fa-picture-o" %>
      </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
        <div class="checkbox-inline checkbox checkbox-success">
          <%= f.check_box :enabled %>
          <%= f.label :enabled %>
        </div>
        
      </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %> 
</div>
