<div class="home-container">
	<h2 class="text-center">Listing Posts</h2>
	<hr>
	<div class="search-area">
		<form action="">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<select name="" id="" class="form-control">
							<option value="1">Battambang</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<select name="" id="" class="form-control">
							<option value="1">Battambang</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<select name="" id="" class="form-control">
							<option value="1">Battambang</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<input type="submit" class="btn btn-block btn-primary">
				</div>
			</div>
			
		</form>
	</div>
	<hr>
	<div class="row">
		<% @posts.each do |post| %>
			<div class="col-sm-4 col-md-3">
				<div class="post-box">
					<div class="img-container">
						<%= image_tag post.image.url(:medium), class: "img-responsive" %>
					</div>
					<hr>
					<div class="post-text">
						<p class="post-title">
							<% $title = truncate(post.title, length: 50) %>
							<%= link_to $title , post %>
						</p>
						<div class="wrapper-text clearfix">
							<div class="left-box">
								<span class="label label-success"><%= post.post_type.capitalize %></span> 
								<span class="date label label-primary"><i class="fa fa-clock-o"></i> <%= post.created_at.strftime("%b / %d") %></span> 
								
							</div>
							<div class="right-box">
								<span class="money label label-danger"><i class="fa fa-usd"></i> <%= post.price %></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

