<div class="home-container">
	<h2 class="text-center">Listing Posts</h2>
	<hr>

	<div class="row">
		<% @posts.each do |post| %>
			<div class="col-sm-4 col-md-3">
				<div class="post-box">
					<div class="img-container">
						<%= image_tag post.image.url(:medium), class: "img-responsive" %>
					</div>
					<h4><%= post.title %></h4>
					<p><small>Posted on: <%= time_ago_in_words(post.created_at) %> ago - by: <%= post.user.username %></small></p>
					<p>Post type: <%= post.post_type %></p>
					
					<% if user_signed_in? %>
					<hr>
					<div class="post-navigate">
						<%= link_to 'View ', post, class: "btn btn-xs btn-success" %>
						<%= link_to 'Edit', edit_post_path(post), class: "btn btn-xs btn-primary" %>
						<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
					</div>
					<% end %>
				</div>
				
			</div>
		<% end %>
	</div>
</div>

