<div class="row">
  <div class="col-md-3">
    <%= render 'search' %>
  </div>
  <div class="col-md-9">
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= @post.property_type.property_name %></li>
      <li><%= @post.title %></li>
    </ol>
        <h3><%= @post.title %></h3>
        <% if user_signed_in? %>
          <% if current_user.id == @post.user_id || current_user.role_id == 4 %>
            <div class="edit-post">
              <%= link_to edit_post_path(@post), class: "edit-post btn btn-primary btn-xs" do %>
                <span><i class="fa fa-pencil-square-o"></i> Edit post</span>
              <% end %>
              <%= link_to @post, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" do %>
                <i class="fa fa-lg fa-times-circle-o"></i> Delete
              <% end %>
            </div>
          <% end %>
        <% end %>
    <hr>
    <p>
      <strong>Contract:</strong>
      <%= @post.post_type %>
      | Posted on <%= @post.created_at.strftime("%d-%m-%Y") %>
    </p>
    <div class="row show-post-wrapper">
      <div class="col-md-8">
        <div class="post-show-slider">
          <ul class="bxslider">
            <% @post.photos.each do |photo| %>
              <li>
                <%= image_tag photo.image.url %>
              </li>
            <% end %>
          </ul>
          <div id="bx-pager">
            <% 
              $i = 0;
              @post.photos.each do |thumb|
            %>
              <a data-slide-index="<%= $i %>" href=""><%= image_tag thumb.image.url(:thumb) %></a>
            <%
                  $i +=1
              end
            %>  
          </div>
        </div>
        
        <div class="profile-info">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Contact Info
            </div>
            <div class="panel-body">
              <% @profile =  @post.user.profile %>
              <ul>
                <li><i class="fa fa-user"></i> <%= @profile.first_name.present? ? @profile.first_name : "N/A" %></li>
                <li><i class="fa fa-phone"></i> <%= @profile.phone.present? ? @profile.phone : "N/A" %></li>
                <li><i class="fa fa-envelope"></i> <%= @profile.email.present? ? @profile.email : "N/A" %></li>
              </ul>
            </div>
          </div>  
        </div>
        <div class="post-show-amentity">
          <h3>Property amentites</h3>
          <hr>
          <ul class="row">
           <% @get_amentities.each do |str_amentity| %>
            <% amentity = str_amentity.to_i %>
            <% if amentity > 0 %>
              <li class="col-xs-6">
                <i class="fa fa-check"></i>
                <%= Amentity.find(amentity).name %>
              </li>
            <% end %>
          <% end %>
          </ul>
        </div>
        <div class="post-show-detail">
          <h3>Porperty Details</h3>
          <hr>
          <p>Price: <span class="btn btn-xs btn-danger">$ <%= @post.price %></span></p>
          <p>Address: <%= @post.address + " " + @post.area + ", " + @post.location.name %></p>
          <p>
            <% if @post.bedroom.present? %>
            <i class="fa fa-bed"></i> 
            <%= "Bedroom: " + @post.bedroom.to_s %>
            <% end %>
            <% if @post.bathroom.present? %>
            <%= "Bathroom: " + @post.bathroom.to_s %>
            <% end %>
            <% if @post.floor.present? %>
            <%= "Floor: " + @post.floor.to_s %>
            <% end %>
          </p>
          <p>
            <%= @post.description %>
          </p>
        </div>
      </div>
      <div class="recent-post col-md-4">
        <h3>Most Recent Posts</h3>
        <hr>
        <% @posts.each do |recent_post| %>
          <div class="post-box">
            <div class="img-container">
              <%= link_to recent_post do %>
                <%= image_tag recent_post.image.url(:medium), class: "img-responsive" %>
              <% end %>
            </div>
            <hr>
            <div class="post-text">
              <p class="post-title">
                <% $title = truncate(recent_post.title, length: 50) %>
                <%= link_to $title , recent_post %>
              </p>
              <div class="wrapper-text clearfix">
                <div class="left-box">
                  <span class="label label-success"><%= recent_post.post_type.capitalize %></span> 
                  <span class="date label label-primary"><i class="fa fa-clock-o"></i> <%= recent_post.created_at.strftime("%b / %d") %></span> 
                </div>
                <div class="right-box">
                  <span class="money label label-danger"><i class="fa fa-usd"></i> <%= recent_post.price %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>
